 <form action="/crearActivo" method="post">
	 <label for="lblEmpresa">EMPRESA: </label>
    <input type="text" id="empresa" name="empresa"><br/>
	
	<label for="lblDpto">DEPARTAMENTO: </label>
    <input type="text" id="departamento" name="departamento"><br/>
	
	<label for="lblUsername">USERNAME: </label>
    <input type="text" id="username" name="username"><br/>
	
	<label for="lblNombreActivo">NombreAct: </label>
    <input type="text" id="nombreActivo" name="nombreActivo"><br/>

	<label for="lblDescripcion">DescripcionAct: </label>
    <input type="text" id="descripcionActivo" name="descripcionActivo"><br/>
	
    <input type="submit" value="Enviar" />
    </form>