 <form action="/actualizarDescripcion" method="post">
	 <label for="lblEmpresa">EMPRESA: </label>
    <input type="text" id="empresa" name="empresa"><br/>
	
	<label for="lblDpto">DEPARTAMENTO: </label>
    <input type="text" id="departamento" name="departamento"><br/>
	
	<label for="lblUsername">USERNAME: </label>
    <input type="text" id="username" name="username"><br/>
	
	<label for="lblId">ID: </label>
    <input type="text" id="id" name="id"><br/>
	
	<label for="lblDescripcion">Descripcion: </label>
    <input type="text" id="descripcion" name="descripcion"><br/>
	
    <input type="submit" value="Enviar" />
    </form>