 <form action="/ingresarUsuario" method="post">
    <label for="lblEmpresa">EMPRESA: </label>
    <input type="text" id="empresa" name="empresa"><br/>
	
	<label for="lblDpto">DEPARTAMENTO: </label>
    <input type="text" id="departamento" name="departamento"><br/>
	
	<label for="lblUsername">USERNAME: </label>
    <input type="text" id="username" name="username"><br/>
	
	<label for="lblPass">PASSWORD: </label>
    <input type="text" id="password" name="password"><br/>
	
	<label for="lblName">NombreCompleto: </label>
    <input type="text" id="nombrecompleto" name="nombrecompleto"><br/>
    <input type="submit" value="Enviar" />
    </form>